.selectForm {
  width: 550px;
  height: 100%;
  margin: 10px;
}

.drop {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #616161;
}

.valid {
  width: 110px;
}
.valid2 {
  width: 280px;
}
.valid3 {
  width: 180px;
}
.valid4 {
  width: 190px;
}
.valid5 {
  width: 190px;
}

.valid2, .valid4, .valid5 {
  margin-left: 10px;
}

.sub_sub {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #888888;
}
